<a href="https://colab.research.google.com/github/AliKhodarahmy/machinelearning2023/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1

In [ ]:
print ("enter your age")
x = int(input())
if x>17:
  print ("You are an adult.")
else:
  print ("You are minor.")

enter your age
12
You are minor.

# Q2

In [ ]:
for i in range (10):
  print (i+1)

1
2
3
4
5
6
7
8
9
10

# Q3

In [ ]:
i = 1
sum = 0
while i<21:
  if i%2==0:
    sum += i
  i += 1
print (sum)

110

# Q4

In [ ]:
def multiply(a,b):
  return a*b
x1 = int(input())
x2 = int(input())
x1 = multiply(x1,x2)
print (x1)

1
21
21

# Q5

In [2]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
me = Person("Ali-Khodarahmy", 23)
print(f"Name: {me.name}")
print(f"Age: {me.age}")

Name: Ali-Khodarahmy
Age: 23

# Q6

In [1]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Student(Person):
    def __init__(self, name, age, student_id):
        super().__init__(name, age)
        self.student_id = student_id
student1 = Student("Ali-Khodarahmy", 23,"9821523")

print(f"Name: {student1.name}")
print(f"Age: {student1.age}")
print(f"Student ID: {student1.student_id}")

Name: Ali-Khodarahmy
Age: 23
Student ID: 9821523

# Q7

# Q8

# Q9

# Q10

# Q11

# Q12

# Q13

# Q14